
svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #3a76f6ba;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #48ededd1, 1px 0 0 #131313, 0 -1px 0 #504e4ecf, -1px 0 0 #070707a6;
  font-size: 14px;
  stroke: white;
}

text.title {
  text-anchor: middle;
  stroke: white;
  font-size: 16px;
  text-shadow: 0 1px 0 #48ededd1, 1px 0 0 #131313, 0 -1px 0 #504e4ecf, -1px 0 0 #070707a6;
}

rect.overlay {
  stroke: #e3e7eab5;
  fill: #919395b3;
}

path.active {
  stroke: #ff6605e3;
}
