.rect {
    width: 20px;
    height: 600px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 100px;
    padding: 10px;
    font: 16px sans-serif;
    background: lightblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis text {
  font-size: 20px;
  stroke: white;
  font-family: 'Open Sans';
  font-weight: 100;
}

path, line {
    stroke: #e9e9eadb;
}

div.dashboard {
    position: relative;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 200px;
    padding: 20px;
    font: 10px sans-serif;
    background:white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;

}

text.legend {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans';
}

ul.legend {
    margin-top: 10px;
}

div.legend {
    padding: 10px;
    margin-top: 50px;
}

.h4 {
    padding-left: 30px;
}

text.title {
  text-anchor: middle;
  stroke: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 200;
  text-shadow: none;
  fill: #505050;
}