.rect {
    width: 20px;
    height: 600px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 100px;
    padding: 10px;
    font: 16px sans-serif;
    background: lightblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis {
    stroke: #e9e9eadb;
    stroke-width: 2px;
    font-size: 18px;
    text-shadow: -1px -1px white;
}

path, line {
    stroke: #e9e9eadb;
}

div.dashboard {
    position: relative;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 200px;
    padding: 20px;
    font: 10px sans-serif;
    background:white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;

}
